{$APP_DOMAIN} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle_path /collab* {
        reverse_proxy collab:1234
    }

    handle {
        reverse_proxy frontend:3000
    }
}
